<p><h1>Power Name: <%= @power.name %></h1></p>
<p><h4>Power Description: <%= @power.description %></h4></p>

<%= link_to "All Heroines", heroines_path%>
<p><%= link_to "Create New Heroine", new_heroine_path%></p>