
<h1>All Heroines</h1>
<nav>
  <ul>
    <li>
      <%= link_to("Add yourself", new_heroine_path) %>
    </li>
  </ul>
</nav>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to(heroine.super_name, heroine_path(heroine)) %>
    </li>
  <% end %>
</ul>




