<h1> All Heroines </h1>

<% @heroines.each do |heroine| %>
<li>
<%= link_to heroine.super_name, heroine_path(heroine) %>
  </li>
<% end %>
</br>

<p><%= link_to 'Create A New Heroine', new_heroine_path %></p>
