<h1>Create a New Heroine</h1>
<h3>scroll down to view form</h3>
<img src= "https://konnections.blog/wp-content/uploads/2019/02/brian-michael-bendis-continues-to-write-an-x-men-movie-despite-disney-fox-deal.jpg?w=640">

<%= render("form") %>

<br>
<br>
<%= link_to "All Powers", powers_path %><br>
<%= link_to "All Heroines", heroines_path %><br>

